@import '../index.scss';

.accountflights-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}