@import '../index.scss';

.avFlights-page {
    width: 100vw;
    height: 100vh;

    .flight-container {
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 200px;
        background-color: $main-white;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        .flight-origin {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            align-items: center;
            justify-content: center;
            
            p {
                color: $light-grey;
            }
        }

        .flight-arrow {
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .flight-destination {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            align-items: center;
            justify-content: center;

            p {
                color: $light-grey;
            }
        }
        .flight-price {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            align-items: center;
            justify-content: center;
            
            p {
                color: $main-blue;
                font-size: 40px;
                font-weight: 900;
            }
        }
    }
}